@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient( 135deg, rgba(14, 196, 246, 1) 0%,rgba(70, 145, 252, 1) 100%);
}

.container {
    width: 45%;
    min-width: 500px;
    background-color: #fff;
    padding: 40px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

.scores {
    margin-bottom: 50px;
    text-align: right;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

#reset-btn {
    cursor: pointer;
    align-items: center;
    color: rgb(0, 0, 0);
}

.weapons {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.weapons button {
    background-color: rgba(70, 145, 252, 1);
    color: #000;
    border: none;
    font-size: 50px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: background-color 300ms ease;
}

.weapons button i {
    color: white;
}

.weapons button:hover {
    background-color: rgb(48, 112, 201);
}

.details {
    margin-top: 30px;
    text-align: center;
}

.scores, .details {
    font-weight: 400;
    font-size: 15px;
}

#result {
    width: 180px;
    padding: 10px 0;
    margin: 30px auto;
    font-weight: 600;
    letter-spacing: 0.5px;
}

#user_choice, #computer_choice {
    font-weight: 400;
    margin-bottom: 10px;
}
    
@media screen and (max-width: 520px) {
    .container {
        min-width: 300px;
        padding: 0 10px;
    }

    .weapons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .weapons button {
        justify-content: center;
        margin: 5px;
    }

    .scores {
        padding-top: 20px;
        padding-right: 10px;
        margin-bottom: 1px;
    }
}

@media screen and (max-width: 320px) {
    .container {
        min-width: 200px;
        padding: 0 10px;
    }

    .weapons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .weapons button {
        justify-content: center;
        margin: 5px;
        height: 80px;
        width: 80px;
    }

    .scores {
        padding-top: 20px;
        padding-right: 10px;
        margin-bottom: 3px;
    }

    .details {
        font-size: 14px;
    }
}